<div id="edit_rsvp">
  <h1>Edit RSVP</h1>
</div>
<div class="bg_rsvp"></div>


<div class="created_outer">
  <div class="created_inner">
    <div id="edit_rsvp_form">
    <%= form_for @guest do |f| %>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name , :class => 'name_txt_fields' %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :class => 'name_txt_fields'  %>
  </p>

  <p>

    <%= f.radio_button(:rsvp, true, {:class => 'rsvp_edit_yes'}) %>
  <%= label_tag(:rsvp_yes, "I will be attending!") %>
  <%= f.radio_button(:rsvp, false, {:class => 'rsvp_edit_nay'}) %>
  <%= label_tag(:rsvp_no, "Sorry. I can't make it.") %>
  </p>
 
 <% dis = @guest.rsvp == true ? 'block' : 'none' %>
  <p id='edit_food' style="display: <%= dis %>; height: 40px; line-height: 45px;">
  <%= f.radio_button(:food, "beef") %>
  <%= label_tag(:foo_beef, "I want beef") %>
  <%= f.radio_button(:food, "chicken") %>
  <%= label_tag(:food_chicken, "I want chicken") %>
  <%= f.radio_button(:food, "fish") %>
  <%= label_tag(:food_fish, "I want fish") %>
  </p>
  <p>
    <%= f.submit ' Update RSVP', :class => 'rsvp_update' %>
    
  </p>
<% end %>
  </div>
  </div>
</div>

<script type="text/javascript">
  $(".rsvp_edit_yes").on("change", function(){
  $('#edit_food').css('display', 'block')
});

$(".rsvp_edit_nay").on("change", function(){
  $('#edit_food').css('display', 'none')
});


</script>

 

 
<%#= link_to 'Back', guests_path %>