<!-- <div id="edit_rsvp">
  <h1>Edit RSVP</h1>
</div> -->
<div class="bg_rsvp"></div>

<div id="edit_con">
<div class="created_outer">
  <div class="created_inner">
    <div id="edit_rsvp_form">
    <%= form_for @guest do |f| %>
  <p>
    <%= f.label :first_name %>
  <br >

    <%= f.text_field :first_name , :class => 'name_txt_fields' %>
  <br >

    <%= f.label :last_name %>
  <br >

    <%= f.text_field :last_name, :class => 'name_txt_fields'  %>
  </p>

  <p>

    <%= f.radio_button(:rsvp, true, {:class => 'rsvp_edit_yes'}) %>
  <%= label_tag(:rsvp_yes, "I will be attending!") %>
  <br class="br2">
  <%= f.radio_button(:rsvp, false, {:class => 'rsvp_edit_nay'}) %>
  <%= label_tag(:rsvp_no, "Sorry. I can't make it.") %>
  </p>
 
 <% dis = @guest.rsvp == true ? 'block' : 'none' %>
          <h2 class="food_choices" style="font-family: Waltograph; border-bottom: 1px solid black; width: 150px; margin:0 auto;">Food Choices</h2>

  <p id='edit_food' style="display: <%= dis %>; height: 40px; line-height: 45px;">
  <%= f.radio_button(:food, "vegetarian") %>
  <%= label_tag(:foo_veg, "<span class='wants'>I want </span>Vegetarian".html_safe) %>
  <%= f.radio_button(:food, "meat") %>
  <%= label_tag(:food_meat, "<span class='wants'>I want </span>Meat".html_safe) %>
  <%#= f.radio_button(:food, "fish") %>
  <%#= label_tag(:food_fish, "<span class='wants'>I want </span>Fish".html_safe) %>
  </p>
  <p>
    <%= f.submit 'RSVP', :class => 'rsvp_update' %>
    
  </p>
<% end %>
  </div>
  </div>
</div>
</div>

<div class="wrongway" >
  <p>Turn your phone the other way to continue</p>
</div>

<script type="text/javascript">
  $(".rsvp_edit_yes").on("change", function(){
  $('#edit_food').css('display', 'block')
});

$(".rsvp_edit_nay").on("change", function(){
  $('#edit_food').css('display', 'none')
});

function errorMsg(){
  if($(window).height() < 500 && $(window).width() < 480){
    $('#edit_con').css('display', 'none')
    $('.wrongway').css('display', 'block')
  } else {
    $('#edit_con').css('display', 'block')
    $('.wrongway').css('display', 'none')
  }
}

function bgOverlay() {
    var height = $(document).height()
    $('#bg_rsvp').css('height', height)   
  }
  window.addEventListener("load", bgOverlay, false);
  window.addEventListener("resize", bgOverlay, false);
  window.addEventListener("load", errorMsg, false);
  window.addEventListener("resize", errorMsg, false);


</script>

 

 
<%#= link_to 'Back', guests_path %>