<div class="bg_rsvp"></div>

<div id="error_box" style="text-align:center; color: red;">
	<% if @errors %>
	<h1>You Must Choose a Food</h1>
	<% end %>
</div>

<div id="enter_code">

	<div class="form">
		<%= form_tag('/guests/code_check', id: 'code_form') do %>
		<h1 id="rsvpTitle"><span class="super">Please</span> Enter The Code Below</h1>
			
			<p>
		    <span class="super">Super</span> <span class="secret">Secret</span> <span class="pswrd">Password:</span>
		    <%= text_field_tag :code, nil, :class => 'enter_code_tag'%>
		    <%= submit_tag 'Enter', :class => 'code_submit' %>
		  </p>

		<% end %>

		<div id="form_error">
			<h1>You were invited right? Try again <span class="mickeyUi" style="float:none; color:red;">&#x00AA;</span> </h1>
		</div>

		<div id="form_response">

			<div id="form_rsvp">
					<%= form_for :guest, url: guests_path do |f| %>
				  <p>
				    <%= f.label :first_name %>
				    <%= f.text_field :first_name , :class => 'name_txt_fields' %>
				    <br>
				    <%= f.label :last_name %>
				    <%= f.text_field :last_name , :class => 'name_txt_fields' %>
				  </p>

				  <p>
				  	<%= f.radio_button(:rsvp, true, {:class => "rsvp_yes"}) %>
					<%= label_tag(:rsvp_yes, "I will be attending!") %>
					<br class="br">
					<%= f.radio_button(:rsvp, false, {:class => "rsvp_no"}) %>
					<%= label_tag(:rsvp_no, "Sorry. I can't make it.") %>
				  </p>

				  <div id="form_food">
				  <h2 class="food_choices" style="font-family: Waltograph; border-bottom: 1px solid black; width: 150px; margin:0 auto;">Food Choices</h2>
				 <p  style='height: 40px; line-height: 45px;'>
					<%= f.radio_button(:food, "vegetarian") %>
					<%= f.label :foo_veg, "<span class='wants'>I want </span>Vegetarian".html_safe %>
					<%= f.radio_button(:food, "meat") %>
					<%= f.label :food_meat, "<span class='wants'>I want </span>Meat".html_safe %>
					<%#= f.radio_button(:food, "fish") %>
					<%#= f.label :foo_fish, "<span class='wants'>I want </span>Fish".html_safe %>
				  </p>
				  </div>

				  <p>
				    <%= f.submit 'RSVP', :class => 'rsvp_submit' %>
				  </p>
				<% end %>
			</div>

			

		</div>

	</div>

</div>

<div class="wrongway" >
	<p>Turn your phone the other way to continue</p>
</div>

<footer id="landingmobile">
	<div class='mickeyUi' 
	style="text-shadow: -5px -1px 5px #eee, 5px -1px 5px #eee, -5px 1px 5px #eee, 5px 1px 5px #eee;
		   font-size:6em;
		   margin-top: -40px;
		   margin-left: 50%;
		   -ms-transform: translateX(-50%); 
    		-webkit-transform: translateX(-50%); 
		   transform: translateX(-50%);
		   display:inline-block;
	 " >&#x00AA;
	</div>
	<div style="
				position:absolute;
				left:0;
				right:0;
				font-size: 2em;
				color:white;
				text-align:center;
				line-height: 42px;
				text-shadow: 0px 0px 2px black;
	"><%= link_to 'Home', controller: 'welcome', action: 'index' %></div>

</footer>

<footer id='landing' >
	
	<ul>
		<li><%= link_to 'About Us', controller: 'welcome', action: 'about' %></li>
		<li><%= link_to 'Meet the Wedding Party', controller: 'welcome', action: 'bridal_party' %></li>
		<li><%= link_to 'Wedding Logistics', controller: 'welcome', action: 'logistics' %></li>
		<li><%= link_to 'Gallery', controller: 'welcome', action: 'gallery' %></li>
		<li><%= link_to 'Home', controller: 'welcome', action: 'index' %></li>

	</ul>
	
</footer>

<script type="text/javascript">

	
	if ($.trim($('#error_box').html())){
			  		$('#code_form').css('display', 'none')
			  		$('#form_error').css('display', 'none')
		            $('.form h1').css('display', 'none')
			  		$('#form_rsvp').css('display', 'block')
  					$('#form_food').css('display', 'block')

	}

	$(".rsvp_yes").on("change", function(){
  		$('#form_food').css('display', 'block')
  		$('#landingmobile').css('display', 'none')
	});

	$(".rsvp_no").on("change", function(){
  		$('#form_food').css('display', 'none')
	});

function errorMsg(){
  if($(window).height() < 420 && $(window).width() < 575){
		$('#enter_code').css('display', 'none')
		$('.wrongway').css('display', 'block')
	} else {
		$('#enter_code').css('display', 'block')
		$('.wrongway').css('display', 'none')
	}
}
	


function bgOverlay() {
	 	var height = $(document).height()
	 	$('#bg_rsvp').css('height', height)   
	}
	bgOverlay()
	window.addEventListener("load", bgOverlay, false);
	window.addEventListener("resize", bgOverlay, false);
	window.addEventListener("load", errorMsg, false);
	window.addEventListener("resize", errorMsg, false);
</script>

<%= javascript_include_tag "wedding" %>