<div class="bg_rsvp"></div>

<!-- <div class="rsvp_home_link">
<%= link_to 'home', controller: 'welcome', action: 'index' %>
</div>
 -->
<div class='created_outer'>
  <div class="created_inner">
    <div class="overview">
    <p class="names">
  <strong>first name:</strong>
  <%= @guest.first_name %>
</p>
<p class="names" style="margin-top: -10px;">
  <strong>last name:</strong>
  <%= @guest.last_name %>
</p>

<p style="margin-top: -10px;">
  <strong>Status:</strong>
  <% if @guest.rsvp == true %>
    <strong>You are attending</strong>
    <% else %>
    <strong>We will miss you</strong>
  <% end %>
</p>

  <% if @guest.rsvp == true %>


<p >
  <strong>Food Choice:</strong>
  <% if @guest.food == 'beef' %>
    <strong>You are eating beef</strong>
    <% elsif @guest.food == 'chicken' %>
    <strong>You are eating chicken</strong>
    <% elsif @guest.food == 'fish' %>
    <strong>You are eating fish</strong>
    <% else %>
    <strong>Not Applicable</strong>
  <% end %>
</p>

  <% end %>

  <%= link_to 'Made a mistake?' , edit_guest_path(@guest), :class => 'rsvp_link_mistake' %>
  <%= link_to '&#2047 Lock Me In!' .html_safe, controller: 'welcome', action: 'index' %>
    </div>
  </div>
</div>

<footer id='landing'>
  <ul>
    <li><%= link_to 'About Us', controller: 'welcome', action: 'about' %></li>
    <li><%= link_to 'Meet the Wedding Party', controller: 'welcome', action: 'bridal_party' %></li>
    <li><%= link_to 'Wedding Logistics', controller: 'welcome', action: 'logistics' %></li>
    <li><%= link_to 'Gallery', controller: 'welcome', action: 'gallery' %></li>
    <li><%= link_to 'Home', controller: 'welcome', action: 'index' %></li>
  </ul>
</footer>


<!-- <table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Attending</th>
    <th>Food Choice</th>
    <th colspan="2"></th>
  </tr>
 
<% @guests.each do |guest| %>
  <tr>
    <td><%= guest.first_name %></td>
    <td><%= guest.last_name %></td>
    <% if guest.rsvp == true %>
    	<td>Yes</td>
    	<% else %>
    	<td>No</td>
    <% end %>
    <% if guest.food == 'beef' %>
    	<td>Beef</td>
    	<% elsif guest.food == 'chicken' %>
      <td>Chicken</td>
      <% elsif guest.food == 'fish' %>
    	<td>Fish</td>
    	<% else  %>
    	<td>NA</td>
    <% end %>
    <td><%= link_to 'Show', guest_path(guest) %></td>
    <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
  </tr>
<% end %>
</table>
 -->
