<div class="bg_rsvp"></div>


<div class='created_outer'>
  <div class="created_inner">
    <div class="overview">
    <p class="names">
  <strong>first name:</strong>
  <%= @guest.first_name %>
</p>
<p class="names" >
  <strong>last name:</strong>
  <%= @guest.last_name %>
</p>

<p >
  <strong>Status:</strong>
  <% if @guest.rsvp == true %>
    <strong>Attending</strong>
    <% else %>
    <strong>We will miss you</strong>
  <% end %>
</p>

  <% if @guest.rsvp == true %>


<p >
  <strong>Food<span class="colonMobile">:</span><span class="choiceM">Choice:</span> </strong>
  <% if @guest.food == 'vegetarian' %>
    <strong><span class="wantsM">You are eating</span> vegetarian</strong>
    <% elsif @guest.food == 'meat' %>
    <strong><span class="wantsM">You are eating</span>meat</strong>
    <% else %>
    <strong>Not Applicable</strong>
  <% end %>
</p>

  <% end %>

  <%= link_to 'Made a mistake?' , edit_guest_path(@guest), :class => 'rsvp_link_mistake' %>
  <br >
  <%= link_to '<span class="mickeyUi" style="float:none;">&#x00AA</span> Lock Me In!'.html_safe, controller: 'welcome', action: 'index' %>
    </div>
  </div>
</div>



<footer id='landing'>
  <ul>
    <li><%= link_to 'About Us', controller: 'welcome', action: 'about' %></li>
    <li><%= link_to 'Meet the Wedding Party', controller: 'welcome', action: 'bridal_party' %></li>
    <li><%= link_to 'Wedding Logistics', controller: 'welcome', action: 'logistics' %></li>
    <li><%= link_to 'Gallery', controller: 'welcome', action: 'gallery' %></li>
    <li><%= link_to 'Home', controller: 'welcome', action: 'index' %></li>
  </ul>
</footer>


